EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=a492e1001@smtp-brevo.com
EMAIL_HOST_PASSWORD=xsmtpsib-70401d269eaead3901510b394126852f39f8b88bdd70a3992507806d70567a0b-TLCmDcfK8VB4k6pn
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=kodehaxacademia@gmail.com
